@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.navbar-banner {
  background-color: #e77f5f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  font-family: 'Press Start 2P', cursive;
  color: rgb(17, 17, 16);
  border-bottom: 5px solid #111;
}

.navbar-title-section {
  display: flex;
  align-items: center;
}

.navbar-icon {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.navbar-title {
  font-size: 20px;
  margin: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 12px;
  padding: 5px 10px;
  background: black;
  border: 2px solid white;
  border-radius: 5px;
  transition: background 0.3s;
}

.navbar-links a:hover {
  background: rgb(249, 247, 247);
  color: rgb(6, 6, 6);
}
